body{
	margin:0;
	font-family: Arial, sans-serif;
	background-color: #1E1E1E;
	color: #fff;
}

.st{
	color: #9271e7;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}